.deposit-advice {
  width: 360px;
  border: 1px solid rgba(255, 204, 97, 0.25);
  border-radius: 24px;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: rgba(255, 214, 129, 0.05);
  color: rgba(255, 214, 129, 1);
}

.deposit-advice-icon {
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 204, 97, 0.25);
  border-radius: 50%;
}

.deposit-advice span {
  font-size: 16px;
  font-weight: 500;
}
