@import url("https://fonts.googleapis.com/css?family=Bokor");
@import url("https://fonts.googleapis.com/css?family=Golos Text");

:root {
  --foreground-rgb: rgb(255, 255, 255);
  --secondary-text-color: rgba(255, 255, 255, 0.5);
  --primary-border-radius: 24px;
  --primary-back-gradient: radial-gradient(
    87.86% 203.09% at 50% -36.88%,
    rgba(255, 230, 166, 0.15) 0%,
    rgba(153, 153, 153, 0) 100%
  );
  --title-color-gradient: linear-gradient(
      99.64deg,
      #efc250 34.86%,
      #ffe4a6 50.56%,
      #d1a141 55.93%,
      #5a380f 111.47%
    ),
    linear-gradient(180deg, #fdf1c5 71.67%, #d68811 128.99%);
  --primary-font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-rgb);
  background: rgba(21, 18, 14, 1);
  font-family: "Golos Text";
}

a {
  color: inherit;
  text-decoration: none;
}

.currency {
  position: relative;
}

.currency::after {
  content: "Eth";
  position: absolute;
  top: -0.5em;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

@media (max-width: 768px) {
  .currency::after {
    font-size: 8px;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

div::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 8px;
}

h4,
h5 {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.result-win {
  color: rgba(163, 215, 97, 1);
}

.result-lose {
  color: rgba(228, 125, 102, 1);
}

.transaction-choose-type-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.transaction-type-button {
  padding: 1em 2em;
  border-radius: 32px;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  background: radial-gradient(
    87.86% 203.09% at 50% -36.88%,
    rgba(255, 230, 166, 0.25) 0%,
    rgba(153, 153, 153, 0) 100%
  );
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transaction-type-button span {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}

.transaction-type-button-primary {
  background: linear-gradient(
    100.93deg,
    #ffce6f 5.21%,
    #ffe9b1 48.63%,
    #ffc756 63.46%,
    #ffd15b 217.01%
  );
  box-shadow: 0px -1px 0px 1px rgba(73, 48, 25, 1) inset;
  border: 0;
  color: rgba(36, 34, 32, 1);
}

.custom-input {
  background: rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 1em;
  width: 100%;
  color: var(--secondary-text-color);
}

.custom-input-part {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.custom-input-part-button {
  cursor: pointer;
  padding: 0.5em 0.75em;
  border-radius: var(--primary-border-radius);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  border: 0;
  font-family: Golos Text;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
}

.custom-input-field {
  outline: 0;
  border: 0;
  background: transparent;
  width: 120px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 600;
  padding: 0 0.25em;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
